.cards-container {
  padding: 16px;
  margin: 8px;
}

.cards-list {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(175px, 1fr));
  padding: 0;

  gap: 24px;
}

header {
  background-color: #67D4FF;
  padding: 16px;
  font-size: 0.8rem;
  line-height: 1.5;

  box-shadow: 1px 1px 4px 1px rgba(0,0,0,0.2);
}

.cards-game {
  background-color: lightgreen;
}